<h1>Listing party_profiles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Password</th>
    <th>Location</th>
    <th>Date</th>
    <th>Host</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @party_profiles.each do |party_profile| %>
  <tr>
    <td><%= party_profile.name %></td>
    <td><%= party_profile.password %></td>
    <td><%= party_profile.location %></td>
    <td><%= party_profile.date %></td>
    <td><%= party_profile.host %></td>
    <td><%= link_to 'Show', party_profile %></td>
    <td><%= link_to 'Edit', edit_party_profile_path(party_profile) %></td>
    <td><%= link_to 'Destroy', party_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Party profile', new_party_profile_path %>
