<div class="span6">
  <div id="spotify-play-button">
    <h1><%= @party_profile.name %></h1>
  </div>

<div class="span6">
  <div class="well" id="spotify-playlist">
    <h3> Playlist </h3>
    
    <div class="playlist">
      <table class='table table-striped'>
        <tbody class ="playlist-refresh">
          <% @songs.each_with_index do |s,i| %>
          <tr>

            <td class = "td">
              <div class = "delete">
                <%= button_to "X", { :controller => "songs", :action => "destroy", :party_profile_id => s.party_profile_id, :name => s.name}, :confirm => "Delete this song?", :method => :delete, :class => "btn btn-inverse" %>
              </div> 
            </td>
            <td>
              <%= "#{i+1}" %>.

              <%= s.name %>   
            </td>

            <td>
              <div class = "button2"> 
                <span style = "float:right;"> 
                  <%= form_for [@song], :html => {:method => 'get'} do |f|%>

                  <%= f.hidden_field :name, {:value => s.name} %>
                  <%= f.hidden_field :party_profile_id, {:value => s.party_profile_id} %>
                  <%= f.submit "Down", :class => "btn btn-danger" %>
                  <% end %>
                </span>
                <div class = "buttons_holder">
                  <div class = "button1">
                    <span style = "float:right;">
                      <%= form_for [@song], :html => {:method => 'get'} do |f|%>
                      <%= f.hidden_field :name, {:value => s.name} %>
                      <%= f.hidden_field :party_profile_id, {:value => s.party_profile_id} %>
                      <%= f.submit "Up", :class => "btn btn-success" %>
                      <% end %>   
                    </span> 
                  </div>

                  <span style = "float:left;">
                    <%= s.totalVotes %>
                  </span>

                </div>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="span12">
  <div class="well" id="spotify" style="background-color:#FFFFFF;">


    <div class="search">
    </div>

  </div>
</div>

<%= render :partial => '/songs/searchsong' %>
