<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @user.name %>!</h1>
    <p>
      You have successfully created a party!<br/>

      Your party name is: <b><%= @party_profile.name %></b>.<br/>
		Your party will be held on <b><%= @party_profile.date %></b>(mm/dd/yyyy), at <b><%= @party_profile.location %></b>. <br/>

		Your party password is: <b><%= @party_profile.password %></b>.<br/>
    </p>

    <p>Thanks for partying with us and have a great day!</p><br>
	<p>Sincerely,</p><br>
	<p>The PlayedBy.me Team</p>
  </body>
</html>