	<figure>
		<img src ="<%= @user.image %>">
		<figcaption>
			<b><%= @user.name %></b><br>
			<i>Partying since <%= @user.created_at.strftime("%m/%d/%Y") %></i>
		</figcaption>
	</figure>
	<br>
<div class="well">
	<div class="well">
	<h2 style="text-align:center;"> Parties You Hosted </h2>
	<div>
		<table class = 'table table-hover' >
			<tbody>
				<tr id="tableheader" style = "font-weight: 900">
					<td id="parties">Party Name </td>
					<td id="parties">Date </td>
					<td id="parties">Location </td>	
				</tr>
			</tbody>
		</table>
	
</div>
<div style="padding-left: 250px; padding-right: 200px;">


	<table class='table table-hover'>

		<tbody class ="list tablebody" style ="font-weight:bold;">


			<% @parties_hosted.each_with_index do |party, index| %>
			<tr id="tablebody">

				<td id="parties1"><%= link_to(party.name, party_profile_path(party)) %></td>

				<td id="parties"><%= party.date %></td>

				<td id="parties2"><%= party.location %></td>

			</tr>
			<% end %>


		</tbody>

	</table>

</div>
</div>

<div class="well">
	<h2 style="text-align:center;"> Parties You Attended </h2>
	<div>
		<table class = 'table table-hover' >
			<tbody>
				<tr id="tableheader" style = "font-weight: 900">
					<td id="parties">Party Name </td>
					<td id="parties">Date </td>
					<td id="parties">Location </td>	
				</tr>
			</tbody>
		</table>
	</div>	
<div style="padding-left: 250px; padding-right: 200px;">


	<table class='table table-hover'>

		<tbody class ="list tablebody" style ="font-weight:bold;">


			<% @parties_hosted.each_with_index do |party, index| %>
			<tr id="tablebody">

				<td id="parties1"><%= link_to(party.name, party_profile_path(party)) %></td>

				<td id="parties"><%= party.date %></td>

				<td id="parties2"><%= party.location %></td>

			</tr>
			<% end %>


		</tbody>

	</table>

</div>
</div>

