<div class="well">
	<figure>
		<img src ="<%= @user.image %>">
		<figcaption>
			<p><%= @user.name %></p>
			<i>Partying since <%= @user.created_at %></i>
		</figcaption>
	</figure>
	<br>
	<br>
	<h2 style="text-align:center;"> Parties You Hosted </h2>
	<div>
		<table class = 'table table-hover' >
			<tbody>
				<tr id="tableheader" style = "font-weight: 900">
					<td id="parties" style = "padding-left: 80px;"> Party Name </td>
					<td id="parties" style = "padding-right: 82px;"> Date </td>
					<td id="parties" style = "padding-right: 8px;"> Location </td>	
				</tr>
			</tbody>
		</table>
	</div>	

	<table class='table table-hover'>
		<tbody class ="list" style ="font-weight:bold;">


			<% @parties_hosted.each_with_index do |party, index| %>
			<tr>

				<td style = "padding-left: 90px; text-align: left;">
					 <%= link_to(party.name, party_profile_path(party)) %>
				</td>

				<td style = "width:90px; padding-right: 250px; text-align: left;">
					<%= party.date %>
				</td>

				<td style = "width:150px; padding-right: 20px;">
					<%= party.location %>
				</td>

			</tr>
			<% end %> 
		</tbody>
	</table>
</div>

<div class="well">
	<h2 style="text-align:center;"> Parties You Attended </h2>
	<div>
		<table class = 'table table-hover' >
			<tbody>
				<tr id='tableheader' style = "font-weight: 900">
					<td id="parties" style = "padding-left: 80px;"> Party Name </td>
					<td id="parties" style = "padding-right: 82px;"> Date </td>
					<td id="parties" style = "padding-right: 8px;"> Location </td>
				</tr>
			</tbody>
		</table>
	</div>	

	<table class='table table-hover'>
		<tbody class ="list" style ="font-weight:bold;">


			<% @parties_guest.each_with_index do |party, index| %>
			<tr>

				<td style = "padding-left: 90px; text-align: left;">
					 <%= party.name %>
				</td>

				<td style = "width:90px; padding-right: 250px; text-align: left;">
					<%= party.date %>
				</td>

				<td style = "width:150px; padding-right: 20px;">
					<%= party.location %>
				</td>

			</tr>
			<% end %> 
		</tbody>
	</table>
</div>

