<!DOCTYPE html>
<head>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <title><%= content_for?(:title) ? yield(:title) : "PlayedBy.Me" %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet' rel='stylesheet' type='text/css'>
</head>

<body class="font">

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#"> PlayedBy.Me </a>
        <div class="container nav-collapse">
          <ul class="nav">

            <% if current_user %>
            <li><%= link_to "Home", user_path(current_user) %></li>
            <% else %>
            <li><%= link_to "Home", new_user_path %></li>
            <% end %>

            <li><%= link_to "Search for a Party", "/parties/search"  %>
            <li><%= link_to "Start a Party",  new_party_profile_path  %></li>
            <li><%= link_to "About", static_pages_new_path  %></li>
          </ul>
          <ul class="nav pull-right">
            <% if current_user %>
            <li><%= link_to "Logout", user_path(current_user), :method => :delete  %></li>
            <% else %>
            <li><%= link_to "Login", login_path  %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>

  <div class="container">
    <div class="content">
      <div class="row">
        <%= content_tag :p, flash[:success], :class => "flash notice" if flash[:success] %>
        <%= content_tag :p, flash[:notice], :class => "flash notice" if flash[:notice] %>
        <%= content_tag :p, flash[:alert], :class => "flash alert" if flash[:alert] %>
        <%= yield %>
      </div><!--/row-->
    </div><!--/content-->

    <footer>
      <p style="text-align:center;">&copy; PlayedBy.Me</p>
    </footer>

  </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
  </html>

